<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletAppProducto</servlet-name>
        <servlet-class>edu.unicauca.apliweb.control.ServletAppProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAppPedido</servlet-name>
        <servlet-class>edu.unicauca.apliweb.control.ServletAppPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAppUsuario</servlet-name>
        <servlet-class>edu.unicauca.apliweb.control.ServletAppUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAppProducto</servlet-name>
        <url-pattern>/ServletAppProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAppPedido</servlet-name>
        <url-pattern>/ServletAppPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAppUsuario</servlet-name>
        <url-pattern>/ServletAppUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
